<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"  />
		<script type="text/javascript" src="../../resources/js/jquery.min.js"  ></script>
		<script type="text/javascript" src="../../resources/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../../resources/js/jquery.mobile.js" ></script>
		<title>快递服务-新建寄件人</title>
		<style type="text/css">
		.collect{
			border-top:1px solid #ddd;
			border-bottom:none;
		}
		.collect .ul{
			padding-left:1rem;
			overflow:hidden;
			border-bottom:1px solid #ddd;
			background:#fff;
			font-size:1.3rem
		}
		.collect .ul li{
			border-bottom:1px solid #e0e0e0;
			line-height:4.5rem; 
			position:relative;
			min-height:4.5rem
		}
		.collect .ul li span{
			width:8rem; 
			position:absolute;
			top:0;left:0; 
			text-align:right;
			color:#666
		}
		.collect .ul li div{
			margin-left:9.5rem;
			padding-right:1rem
		}
		.collect .ul li div input{
			width:100%;
			border:none;
			height:4.5rem;
			background:none;
		}
		.sub-title{
			padding:1rem;
			font-size:1.5rem;
			height:2rem;
			line-height:2rem;
			color:#999;
			border-bottom:1px solid #ddd;
		}
		.btn-lg{
			border-color: #fff;
			background: #fff;
			width: 14rem;
			font-size:1.5rem;
		}
		.next-button{
			text-align: center;
			padding-top: 3rem;
		}
		.next-button-d{
			width:30%;
			height:4.5rem;
			background:#f60;
			color:#fff;
			border-radius:5px;
			font-size:1.5rem;
			border:none;
		}
		.next-button-alert{
			width:100%;
			background:#fff;
			color:#666;
			font-size:1.5rem;
			border:none;
		}
		body{font-family: "微软雅黑";background:#e5e5e5}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="collect">
				<form id="sendReqForm" action="/wechat/service/senderSave" method="post" modelAttribute="senderVo">
					<p class="sub-title">寄件人信息</p>
					<ul class="ul">
						<li>
							<span>所在省份</span>
							<div>
								<select class="dropdown-toggle btn-lg" id="senderProvince" name="senderProvince"
							onchange="loadSecondMenu('2')">
  									<ul class="dropdown-menu">
  										${menu1}
   									</ul>
								</select>
							</div>
						</li>
						<li>
							<span>所在城市</span>
							<div>
								<select class="dropdown-toggle btn-lg" id="senderCity" name="senderCity" 
								onchange="loadThirdMenu('2')">
									<ul class="dropdown-menu">
  										<li><option value="-1" selected="selected">请选择城市</option></li>
  									</ul>
								</select>
							</div>
						</li>
						<li>
							<span>所在城区</span>
							<div>
								<select class="dropdown-toggle btn-lg" id="senderCounty" name="senderCounty">
  									<li><option value="-1" selected="selected">请选择城区</option></li>
								</select>
							</div>
						</li>
						<li>
							<span>详细地址</span>
							<div>
								<input id="senderManAddress" name="senderManAddress" type="text" placeholder="请输入寄件人详细地址" value="" />
							</div>
						</li>
						<li>
							<span>姓名</span>
							<div>
								<input id="senderMan" name="senderMan" type="text" placeholder="请输入寄件人姓名" value="" />
							</div>
						</li>
						<li>
							<span>联系电话</span>
							<div>
								<input id="senderManPhone" name="senderManPhone" type="text" placeholder="请输入寄件人电话" value="" />
							</div>
						</li>
						<input type="hidden" id="username" name="username" value='${openid}' />
						<div class="sub-row">
							<p class="next-button">
								<button class="next-button-d" type="button" onclick="submitAll()">保存</button>
								<button class="next-button-d" type="cancel">取消</button>
							</p>
						</div>
					</ul>
					<button class="next-button-d" id="saveBtn" name="saveBtn" type="submit" style="display:none">保存</button>
				</form>
			</div>
		</div>

		<!-- modal -->
		<div class="modal fade" id="pendingModal_s" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_s" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<h4 class="modal-title" id="myModalLabel_s">警告</h4>
					</div>
					<div class="modal-body">
						<p>请填写完整省市区信息</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="next-button-alert" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="pendingModal_a" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_a" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<h4 class="modal-title" id="myModalLabel_a">警告</h4>
					</div>
					<div class="modal-body">
						<p>请填写详细地址</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="next-button-alert" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="pendingModal_n" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_n" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<h4 class="modal-title" id="myModalLabel_n">警告</h4>
					</div>
					<div class="modal-body">
						<p>请填写完整姓名</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="next-button-alert" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="pendingModal_p" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_p" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
        				<h4 class="modal-title" id="myModalLabel_p">警告</h4>
					</div>
					<div class="modal-body">
						<p>请填写正确的电话号码</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="next-button-alert" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Button trigger modal -->
		<button id="pending_s_Btn" name="pending_s_Btn" type="button" style="display:none" data-toggle="modal" data-target="#pendingModal_s"></button>
		<button id="pending_a_Btn" name="pending_a_Btn" type="button" style="display:none" data-toggle="modal" data-target="#pendingModal_a"></button>
		<button id="pending_p_Btn" name="pending_p_Btn" type="button" style="display:none" data-toggle="modal" data-target="#pendingModal_p"></button>
		<button id="pending_n_Btn" name="pending_n_Btn" type="button" style="display:none" data-toggle="modal" data-target="#pendingModal_n"></button>

		<!-- js -->
		<script type="text/javascript">
			
			function loadThirdMenu(formNum){
				var menu2Value;
				if(formNum == 1){
					menu2Value = document.getElementById("receiverCity").value;
				}else if(formNum == 2){
					menu2Value = document.getElementById("senderCity").value;					
				}
				if(menu2Value == -1){
					return;
				}
				var xmlHttp;
				if(window.XMLHttpRequest){
					xmlHttp = new XMLHttpRequest();
				}else{
					xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
				xmlHttp.onreadystatechange=function(){
					if (xmlHttp.readyState==4 && xmlHttp.status==200){
						if(formNum == 1){
							document.getElementById("receiverCounty").innerHTML=xmlHttp.responseText;
						}else if(formNum == 2){
							document.getElementById("senderCounty").innerHTML=xmlHttp.responseText;

						}
					}
				}
				xmlHttp.open("POST","../service/sendMenu",true);
				xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
				xmlHttp.send("menu1=&menu2="+menu2Value);
			}
			function loadSecondMenu(formNum){
				var menu1Value;
				if(formNum == 1){
					menu1Value = document.getElementById("receiverProvince").value;
				}else if(formNum == 2){
					menu1Value = document.getElementById("senderProvince").value;

				}
				if(menu1Value == -1){
					return;
				}
				var xmlHttp;
				if(window.XMLHttpRequest){
					xmlHttp = new XMLHttpRequest();
				}else{
					xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
				}
				xmlHttp.onreadystatechange=function(){
					if (xmlHttp.readyState==4 && xmlHttp.status==200){
						if(formNum == 1){
							document.getElementById("receiverCity").innerHTML=xmlHttp.responseText;
						}else if(formNum == 2){
							document.getElementById("senderCity").innerHTML=xmlHttp.responseText;

						}
					}
				}
				xmlHttp.open("POST","../service/sendMenu",true);
				xmlHttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
				xmlHttp.send("menu1="+menu1Value+"&menu2=");
			}
			function submitAll(){
				var senderMan = document.getElementById("senderMan").value;
				var senderManAddress = document.getElementById("senderManAddress").value;
				var senderManPhone = document.getElementById("senderManPhone").value;
				var senderProvince = document.getElementById("senderProvince").value;
				var senderCity = document.getElementById("senderCity").value;
				var senderCounty = document.getElementById("senderCounty").value;

				if( senderProvince != null && senderProvince != "" && senderProvince != -1 && 
					senderCity != null && senderCity != "" && senderCity != -1 && 
					senderCounty != -1 && senderCounty != null && senderCounty != ""){
					if(senderMan != null && senderMan != ""){
						if(senderManAddress != null && senderManAddress != ""){
							if(senderManPhone != null && senderManPhone != "" && fucCheckNUM(senderManPhone) == 1){
								document.getElementById("saveBtn").click();
							}else{
								document.getElementById("pending_p_Btn").click();
							}
						}else{
							document.getElementById("pending_a_Btn").click();
						}
					}else{
						document.getElementById("pending_n_Btn").click();
					}
				}else{
					document.getElementById("pending_s_Btn").click();
				}
			}
			function fucCheckNUM(NUM){
				var i,j,strTemp;
				strTemp="0123456789";
				if (NUM.length== 0)
  					return 0;
				for (i=0;i<NUM.length;i++){
  					j=strTemp.indexOf(NUM.charAt(i)); 
					if (j==-1){
   						return 0;
  					}
				}
				return 1;
			}
		</script>

	</body>
</html>